/* ===== GENERAL =====

Sexy Text: 	
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;

*/

/* ==== GLOBAL ==== */

h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-weight: bold;
}

h1 {
	font-size: 3em;
}

h1, h2 {
	margin: 0 0 40px;
}

h3 {
	margin: 20px 0;
}

#heading {
	text-decoration: underline;
	font-size: 28px;
}

h4 {
	font-size: 18px;
}

img {
	width: 100%;
}

button {
	color: white;
}

p.lead {
	margin: 0 8px 0 6px;
}

p.lead a {
	color: green;
	font-weight: normal;
}

p.lead a:hover {
	text-decoration: none;
	font-weight: bold;
}

footer{
	background: black;
	padding: 20px 0 10px;
}

footer nav,
footer p,
footer nav ul li a{
	color: skyblue;
	font-weight: bold;
}

footer li.signup-link a{
	color: #dd5638;
}

footer #copyright {
	color: white;
}

footer nav ul li a:hover{
	text-decoration: none;
	color: orange;
}


.button, input, .btn, a.btn {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	color: white;
}

/* ====== LAYOUT ===== */

section {
	padding: 50px 0;
}

section h2 {
	margin: 20px 0 30px;
}

section h3 {
	margin: 30px 0 10px;
}


/* ====== TRAVEL SECTION ===== */

#travel {

/*	background: white;*/
	text-align: center;
}


#travel img{
	background: #ffffff url('../img/pangea.jpg') no-repeat right center;
	width: 480px;
	height: 480px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

/* ====== BLOG SECTION ======== */

#blog {
	color: black;
	text-align: center;
	padding: 0 0 50px;
}

#blog .row .col-sm-4 {
	text-align: center;
}

#blog img {
	margin: 40px 0;
	height: 200px;
	width: 200px;
	-webkit-border-radius: 7%;
	-moz-border-radius: 7%;
	border-radius: 7%;
}

/* ====== OPTIN SECTION ===== */

#optin {
	background: #3e4249;
	padding: 20px 0;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-size: 1.2em;
}

#optin p {
	margin: 7px 0 0 0;
}

#optin button {
	padding: 10px 0;
	margin: 10px 0;
}

/* ====== CHALLENGE SECTION ======== */

#challenge {
	text-align: center;
}

#challenge p {
	margin: 20px 0 15px 0;
	padding: 20px 0 15px 0;
	font-size: 20px;
}


/* MEDIA QUERIES ==========*/

@media screen and (max-width: 991px) {
	#travel img{
		height: 50%;
		width: 50%;
	}

}

@media and screen (max-width: 661px) {
	#header {
		background: url('washington.jpg') no-repeat fixed;
	}

	#travel img {
		height: 50%;
		width: 50%;
	}

	footer p a img {
		position: absolute;
		bottom: -50px;
	}
}


@media screen and (max-width: 568px) {
	#travel img {
		height: 70%;
		width: 70%
	}

	#blog img {
		padding: 5px;
		margin: 8px;
	}

	footer p, 
	footer p a, 
	footer nav ul li{
		font-size: 12px;
		padding: 3px 0;
		margin: 3px 0;
		text-align: center;
	}

	footer li.signup-link a{
		font-size: 16px;
	}

	footer .col-sm-6 {
		text-align: center;
	}
}



